.idea
node_modules/
dist/
data/
*.db
.env
.env.*
!.env.mock
!.env.dev
!.env.example
.pnpm-store/
.DS_Store
apps/*
!apps/common/
!apps/example/
apps/example/logs/
apps/example/.handler.mjs
*.mp4
*.mov
